extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks') method='post')
      +input(task, 'name', errors)(type="text")
      +textarea(task, 'description', errors)
      +select(statuses, 'statusId', ['name'], errors)
      +select(users, 'executorId', ['firstName', 'lastName'], errors)
      +submit(status)(value=t('views.tasks.new.submit'))

  
